{{!-- <div class="Container-citas">
    <div class="container py-5">
    <div class="row">
        {{#each citas }}
                 <div class="col-md-4">
                   
                <div class="Citamed">
                    <div class="input-box">
                        <span class="Citaspan">Nombre Completo* </span>
                        <h1 class="nombrecita">   {{ title}}</h1>
                    </div>
                    <div class="input-box">
                        <span class="Citaspan"> Especialidad* </span>
                        <h1 class="nombrecita">   {{ description }}</h1>
                    </div>
                    <div class="input-box">
                        <span class="Citaspan"> Numero Telefonico* </span>
                        <h1 class="nombrecita">   {{ numero }}</h1>
                    </div>
                    <div class="input-box">
                        <span class="Citaspan"> Fecha* </span>
                        <h1 class="nombrecita">   {{date }}</h1>
                    </div>
                    
                  <form action="/citas/eliminar/{{_id}}?_method=DELETE" method="POST">
                  <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-success btn-block btn-sm" type="submit">
                        Cancelar Cita
                        </button>
                  </form>  
                </div>
                
             
                                
  
        </div>

    </div>
       
    
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="citas-edit">No hay citas agendadas aun</p>
            <a href="/citas/crear" class="btn btn-success btn-block">Crea una Cita</a>
        </div>
    </div>
    {{/each}}
</div> --}}
<div class="body-form">   
 
    <div class="card-deck mt-3">
        {{#each citas }}
            <div class="card text-center border-info">
              <div class="card-body">
                <div class="Citamed">
                            <div class="input-box">
                                <span class="Citaspan">Nombre Completo* </span>
                                <h1 class="nombrecita">   {{ title}}</h1>
                            </div>
                            <div class="input-box">
                                <span class="Citaspan"> Especialidad* </span>
                                <h1 class="nombrecita">   {{ description }}</h1>
                            </div>
                            <div class="input-box">
                                <span class="Citaspan"> Número Telefónico* </span>
                                <h1 class="nombrecita">   {{ numero }}</h1>
                            </div>
                            <div class="input-box">
                                <span class="Citaspan"> Fecha* </span>
                                <h1 class="nombrecita">   {{date }}</h1>
                            </div>
                            
                        <form action="/citas/eliminar/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-success btn-block btn-sm" type="submit">
                                Cancelar Cita
                                </button>
                        </form>  
                    </div>
                </div>
            </div>          

      

   
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="citas-edit">No hay citas agendadas aun</p>
            <a href="/citas/crear" class="btn btn-success btn-block">Crea una Cita</a>
        </div>
    </div>
    {{/each}}
     </div>
</div>  
