<div class="row">
    {{#each citas}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-betweeen align-items-center">
                    {{tittle}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p> {{description}}</p>
                <form action="/citas/elimitar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                         <button class="btn btn-danger btn-block btn-sm" type="submit">
                    Cancelar Cita
                </button>
                </form>
               
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <p class="citas">No hay citas creadas aun</p>
            <a href="/citas/crear" class="btn btn-success btn-block">Crea una Cita</a>
        </div>
    </div>
    {{/each}}
</div>